<!doctype html>
<html class="no-js">
  <head>
    <title>Campanhas do bem</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "home.css" %>

    <script src="assets/modernizr.js"></script>

    <style type="text/css">
      #map-canvas {
        height: 100%;
      }
    </style>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZC20RoWDFSS6WvTNwqWNaiJkmvZ5qYy0&sensor=true"></script>

  </head>
  <body>
    <div class="wrapper">
      <div class="navbar navbar-default navbar-fixed-top navbar-horizontal-custom">
        <div class="container">
          <div class="navbar-header">
            <a href="../" class="navbar-brand">Campanhas do bem</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><span class="icon-wrapper"><i class="fa fa-facebook"></i></span>facebook</a></li>
                  <li><a href="#"><span class="icon-wrapper"><i class="fa fa-twitter"></i></span>twiter</a></li>
                </ul>
              </li>
              <li>
                <%= link_to "Criar campanha", new_campanha_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-vertical navbar-default">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">
            <img src="assets/logo.png" width="130px" />
          </a>
          <h1>Campanhas do bem</h1>
          <aside>
            Encontre doações espalhadas pelo Brasil.
          </aside>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <span>Olá <strong><%= current_user.name %></strong>!</span>
                <%= link_to "Sair", signout_path, id: "sign_out" %>
              </li>
              <li>
                <%= link_to "Criar campanha", new_campanha_path %>
              </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to("/auth/facebook") do %>
                      <span class="icon-wrapper"><i class="fa fa-facebook"></i></span>facebook</a>
                  <% end %>
                </li>
                <li>
                  <%= link_to("/auth/twitter") do %>
                    <span class="icon-wrapper"><i class="fa fa-twitter"></i></span>twitter</a>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="offset map-container">
    <div id="map-canvas"></div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46474265-1', 'campanhadobem.com.br');
  ga('send', 'pageview');
</script>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "maps.js" %>
<%= javascript_include_tag "home.js" %>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script type="text/template" id="infoWindowTemplate">
        <div>
            <h4>{{TITLE}}</h4>
            <p data-description="description">{{DESCRIPTION}}</p>
            <b>Ponto de coleta</b><br />
            <b>{{ADDRESSNAME}}</b><br />
            <p>{{ADDRESS}}</p>
            <a href="{{LINK}}" class="btn btn-success share">Compartilhar</a>
        </div>
    </script>
</body>
    </html>

