<div class="col-xs-12 col-md-4 full-height">
  <div class="container">
    <h1 id="navbar">Informações</h1>
    <div class="col-xs-12 col-md-4 full-height">
      <form role="form" id="view" data-bind="submit: sendForm">
        <!-- ko with: campaign -->
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" placeholder="Brinquedos para as crianças" data-bind="value: name">
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <span class="help-block">Informe aqui para onde serão destinadas as doações, o que estão arrecadando, etc...</span>
          <textarea class="form-control" rows="6" name="descricao" data-bind="value: description"></textarea>
        </div>
        <!-- /ko -->

        <button type="submit" class="btn btn-success">Criar campanha</button>
      </form>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-8 sidebar-offcanvas full-height">
  <div class="container-fluid">
    <h1 id="navbar">Pontos de Coleta</h1>
    <span class="help-block">Clique no local desejado para adicionar um ponto de coleta.</span>
    <div class="col-xs-12 col-md-12 col-for-map">
      <div class="map-container">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>

