﻿<div class="map-container">
	<div id="map-canvas"></div>
</div>

<script type="text/template" id="infoWindowTemplate">
	<div>
		<h4>{{TITLE}}</h4>
		<p>{{DESCRIPTION}}</p>
		<b>Ponto de coleta</b><br />
		<b>{{ADDRESSNAME}}</b><br />
		<p>{{ADDRESS}}</p>
		<a href="{{LINK}}" class="btn btn-success">Compartilhar</a>
	</div>
</script>