/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.jumbotron {
    margin: 50px auto 0 auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding-top: 62px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.icon-wrapper {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
}

.full-height {
    min-height: 100%;
    height: 100%;
}

.container-fluid {
    margin: 0 15px;
}

.col-for-map {
    height: 400px;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
}

