.map-container.offset {
    top: 62px;
}

.navbar-vertical {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background: #2c3e50;
}

.navbar-vertical .dropdown-menu {
    right: -160px !important;
    top: -1px;
}

@media (min-width: 992px) {
    .navbar-horizontal-custom {
        display: none;
    }

    .navbar-vertical {
        display: block;
    }

    .navbar-vertical .navbar-header {
        float: none !important;
    }

    .navbar-vertical .navbar-header a {
        float: none !important;
        display: block;
        width: 150px;
        height: 200px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .navbar-vertical .navbar-header a img {
        margin-left: 13px;
        margin-top: 5px;
    }

    .navbar-vertical .navbar-header h1 {
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
        color: #18bc9c;
        font-weight: bold;
    }

    .navbar-vertical .navbar-header aside {
        font-size: 14px;
        color: #18bc9c;
        padding: 10px 0 0 10px;
        width: 220px;
        text-align: center;
        margin: 10px auto;
        border-top: 1px solid #515E6B;
    }

    .navbar-vertical .navbar-header aside::before {
        border-top: 1px solid #282F35;
        position: absolute;
        top: -2px;
        content: "";
        left: 0;
        right: 0;
    }

    .navbar-vertical .navbar-nav {
        position: absolute;
        bottom: 10px;
    }

    .navbar-vertical .navbar-nav > li {
        float: none;
    }

    .map-container.offset {
        top: 0;
        left: 250px;
    }
}