﻿<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Campanhas do bem</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <script src="/assets/modernizr.js"></script>

    <style type="text/css">
      #map-canvas {
        height: 100%;
      }
    </style>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZC20RoWDFSS6WvTNwqWNaiJkmvZ5qYy0&sensor=true">
      </script>
    </head>
    <body>
      <div class="wrapper">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <% if @campaign && @campaign.name %>
                <a href="../" class="navbar-brand"><%= @campaign.name %></a>
              <% else %>
                <a href="/" class="navbar-brand">Campanhas do bem</a>
              <% end %>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav navbar-right">
                <% unless current_user %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><span class="icon-wrapper"><i class="fa fa-facebook"></i></span>facebook</a></li>
                      <li><a href="#"><span class="icon-wrapper"><i class="fa fa-twitter"></i></span>twiter</a></li>
                    </ul>
                  </li>
                <% else %>
                  <li>
                    Olá <%= current_user.name %>
                </li>
              <% end %>
              <li>
                <%= link_to "Criar campanha", new_campanha_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </div>

  <script type="text/html" id="coleta-template">
    <ul class="list-group" data-bind="foreach: campaign().places">
      <li class="list-group-item">
        <button class="badge">X</button>
        <!-- ko text: name -->
        <!-- /ko -->
      </li>
    </ul>
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46474265-1', 'campanhadobem.com.br');
    ga('send', 'pageview');

  </script>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "maps.js" %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <script type="text/template" id="infoWindowTemplate">
    <div>
      <b>Ponto de coleta</b><br />
      <b>{{ADDRESSNAME}}</b><br />
      <p>{{ADDRESS}}</p>
      <button class="btn btn-danger  btn-sm removePlace" id="{{ID}}">remover</button>
    </div>
  </script>
</body>
</html>
